body
{
    font-family: 'Public Sans', sans-serif;
}

.navbar
{
    z-index: 1;
}

.bg-light
    {
      background-color: white !important;  
    }
.btn-success {
        color: #fff;
        background-image: linear-gradient(90deg, #74cf89, #48adcf );
        
      }   
 .btn
  {
      border-radius: 25px;
      border-style: none;
      padding: 10px 20px;
      
  }     

  img.logo

    {
        display: inline-block;
        position: relative;
        height: 700px;
        width: 700px;
        bottom: 100px;
        left: 110px;

    }

  img.logo-top

     {
          display: inline-block;
          position: absolute;
          z-index: 2; 
          bottom: -50px;
     }


   img.icons
       {
           margin-top: 30px;
           margin-bottom: 30px;
       }
      
    .headt

    {
        padding: 180px 180px; 
    }

    .row
      {
        
          position: relative;
          z-index: 0;
          margin-top: 50px;
      }

      #features
      {
          display: inline-block;
          position: relative;
          background-color:  hsl(220, 16%, 96%);
          padding: 100px 100px 100px 180px;
          bottom: 100px;
          z-index: -1;
      }


      #article
      {
        display: inline-block;
          position: relative;
        bottom: 150px;
        padding: 100px 100px 0px 180px;   
      }

      #footer
       {
       
        background-color: hsl(233, 26%, 24%);
        padding: 0px 0px 0px 180px;     
       }
.art_icons
 {
     width: 100%;
     height: 200px;
     border-radius: 10px;
     margin-top: 50px;
     margin-bottom: 30px;
 }

 p.art
 {
     padding: 0px 20px;
 }

 h5.art
 {
     padding: 0px 20px;
 }
       
      p
      {
          margin-top: 20px;
          margin-bottom: 20px;
          color: hsl(233, 8%, 62%);
          padding: 10px 10px 10px 0px;
      }

      p.footer

       {
        margin-top: 5px;
          margin-bottom: 5px;
          color: hsl(0, 0%, 100%);
          padding: 0px;  
          margin-top: 20px;
       }

       a.art
            {
            color: black;
                text-decoration: none;
            }

a.art:hover

    {
        color:hsl(136, 65%, 51%);
        text-decoration: none;
    }

       a.
            {
            color: white;
            text-decoration: none;
            }

a:hover

    {
        color:hsl(136, 65%, 51%);
        text-decoration: none;
    }
.smicon:hover
    {
        filter: invert(62%) sepia(88%) saturate(402%) hue-rotate(82deg) brightness(94%) contrast(88%);
    }

  .logo_footer
  
  {
    filter: invert(100%) sepia(60%) saturate(13%) hue-rotate(255deg) brightness(104%) contrast(105%);
  }
        @media screen and (max-width: 400px) {
        

        .headt

        {
            padding: 30px 50px;
            bottom: 300px;
        }

        img.logo

    {
        display: inline-block;
        position: relative;
        width: 300px;
        height: auto;
        bottom: 20px;
        left: 10px;

    }

    img.logo-top

    {
         display: inline-block;
         position: relative;
         z-index: 1; 
         bottom: 340px;
         width: 300px;
         height: auto; 
    }

    .col-lg-6, .col-sm-12
    {
        text-align: center;
    }

     h1 
     {
         font-size: 2em;
     }

     .btn
  {
      border-radius: 25px;
      border-style: none;
      padding: 10px 20px;
      margin: 30px 10px;
      
  }    

  img.icons
  {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  #features
  {
      display: inline-block;
      position: relative;
      background-color:  hsl(220, 16%, 96%);
      padding: 30px 50px;
      bottom: 100px;
      z-index: -1;
  }

  p
  {
      margin-top: 20px;
      margin-bottom: 20px;
      color: hsl(233, 8%, 62%);
  }

  .text-align-left

     {
         text-align: center;
     }
     #article
      {
        display: inline-block;
          position: relative;
        bottom: 150px;
        padding: 30px 50px 0px 50px;  
      }
.art_icons
 {
     width: 100%;
     height: 200px;
     border-radius: 10px;
     margin-top: 50px;
     margin-bottom: 30px;
 }

 p.art
 {
     padding: 0px 0px 0px 20px;
 }

 h5.art
 {
     padding: 0px 0px 0px 20px;
 }

 #footer
 {
 
  background-color: hsl(233, 26%, 24%);
  padding: 30px 50px 0px 50px;     
 }
 .text-align-center

     {
         text-align: left;
     }

     .ml-2 
        {
            margin-left: 0px;
        }

    }